.homepage {
  display: flex;
  justify-content: space-between;
  padding: 4rem 8rem;
}

@media (max-width: 75em) {
  .homepage {
    padding: 2rem;
  }
}

@media (max-width: 59em) {
  .homepage {
    padding-top: 7rem;
    padding: 7rem 2rem 4rem 2rem;
  }

  .hidden {
    display: none !important;
  }
}
