.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  backdrop-filter: blur(6px);
  background-color: rgba(0, 0, 0, 0.4);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;
}

.modal {
  background-color: white;
  padding: 2rem;
  border-radius: 0.8rem;
  max-width: 38rem;
  width: 90%;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
  z-index: 1001;
  background-color: #181818;
  padding: 3rem;
  border-radius: 8px;
  position: relative;
  color: #fff;
}

.modal form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.modal form label {
  font-size: 2rem;
}

.modal form input {
  margin-top: 1rem;
  border-radius: 0.5rem;
  border: none;
  font-family: inherit;
  padding: 0.5rem 1rem;
}

.modal form button {
  margin-top: 2rem;
  width: 100%;
}

.modal form div {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.closeBtn {
  position: absolute;
  top: 0;
  right: 0;
  background-color: transparent;
}

.closeBtnIcon {
  width: 2.5rem;
  height: 2.5rem;
  color: #777;
}

.error {
  color: red;
}

.previewImg {
  width: 10rem;
}

.uploadInput {
  background-color: #4a90e2;
  width: 100%;
}
