.postList {
  color: #fff;
  width: 100%;
  white-space: normal;
  word-wrap: break-word;
  font-size: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: relative;
  gap: 2rem;
  opacity: 1;
  animation: fadeInSlide 0.5s ease-out forwards;
}
