.post {
  background-color: #181818;
  padding: 1.5rem;
  border-radius: 1rem;
  position: relative;
}

.post img {
  width: 5rem;
  height: 5rem;
  border-radius: 50%;
}

.postInfo {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 1rem;
}

.postUserAndDate {
  display: flex;
  flex-direction: column;
}

.postUser {
  font-size: 2rem;
  color: #fff;
}

.postDate {
  color: #777;
  font-size: 1.3rem;
}

.postContent {
  line-height: 1.4;
  margin-top: 1rem;
  padding: 1rem 0;
}

.postActions {
  list-style: none;
  display: flex;
  justify-content: flex-start;
  gap: 2rem;
  align-items: center;
  border-top: 1px solid #777;
  padding: 1rem;
}

.postActions li {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  cursor: pointer;
}

.postMenu {
  position: absolute;
  top: 1rem;
  right: 2rem;
  cursor: pointer;
}

.menu {
  position: absolute;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  width: 15rem;
  background-color: #333;
  list-style: none;
  padding: 0.8rem;
  transition: 0.3s all ease;
  /* pointer-events: none; */
  font-size: 1.8rem;
}

.menu li:hover {
  color: #4a90e2;
  cursor: pointer;
}

.comments {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 2.5rem;
  padding: 2rem 1rem;
  border-top: 1px solid #777;
}
